# Data Manipulation and Analysis
pandas
numpy

# Machine Learning
scikit-learn
xgboost
lightgbm
imbalanced-learn

# Visualization
matplotlib
seaborn

# Environment and Jupyter
ipykernel
python-dotenv

# Model saving
joblib
